<!DOCTYPE html>
<html>
  <head>
    <title>Le Bon Coin</title>
  </head>
  <body>
    <div>
        <h1>Le Bon Coin</h1>
        <button>Déposer une annonce</button>
        <button>Offres</button>
    </div>