<!DOCTYPE html>
<html>
  <head>
    <title>Le Bon Coin</title>
  </head>
  <body>
    <div>
        <img src = 'logo.png' alt="logo" height=40 width=150>
        <button href ="/placead.ejs">Déposer une annonce</button>
        <button href="/home.ejs">Offres</button>
    </div>