<!DOCTYPE html>
<html>

<head>

  <!-- Balises Meta obligatoires -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


 <!-- Votre fichier styles.css -->
 <link rel="stylesheet" href="/styles.css">
  <title>Le Bon Coin</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg nav-style">
        <a class="navbar-brand" href="#"> <img src='/img/logo.svg' alt="logo" width ="100"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/homes.ejs">ACCUEIL <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="placeoffer.ejs">DEPOSER UNE ANNONCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/homes.ejs">OFFRES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/homes/ejs">DEMANDES</a>
            </li>
          </ul>
          </div>
      </nav>
 