<% include partials/header.ejs %>

<div class="offerList d-flex">
    <% if (!offers.length) { %>
    <b> Aucune offre !</b>
    <br><br>
<% } else { %>
<table class="offer">
    <% offers.forEach(function(offer) { %>
    <tr>
           <td width=50> <img src="/uploads/<%= offer.picture %>"  width="400"/></td>
           <td width=300><h3> <p><%= offer.title %></p></h3>
            <p><%= offer.location %></p>
            <p><%= offer.price %> € </p>

    </tr>
<% }); %>
</table>
<% } %>


<% include partials/footer.ejs %>