<% include partials/header.ejs %>

  <form action="/deposer" method="POST" enctype="multipart/form-data">
    <div class="form">
        <h1>Déposer votre annonce</h1>
    <div>
    <div class="offer" >Votre annonce</div>
    <div> Titre de l'annonce <input type="text" placeholder="Titre de l'annonce" name="title" /> </div>
    <div> Texte de l'annonce <input type="text" placeholder="Texte de l'annonce" name="description" /></div>
    <div>Prix <input type="text" placeholder="Prix" name="price"/> € </div>
    <div> Photo <input type="file" placehorder= "Photo" name="picture"/></div>
    <div>
        <div class="geoloc">Localisation</div>
        <div>Ville ou Code Postal <input type="text" placeholder="Ville ou Code Postal" name="location"/></div>
    </div>
    <div>
        <div class="clientinfo">Vos informations</div>
        <div> Pseudo <input type="text" placeholder="Pseudo" name="pseudo"/></div>
        <div>E-mail <input type="text" placeholder="E-mail" name="email"/></div>
        <div>Téléphone<input type="text" placeholder="Téléphone" name="phone"/></div>
    </div>
    <div><button type="submit">Valider</button></div>
  </form>

  <% include partials/footer.ejs %>