
.nav-style {
    background-color: #E4723D;
}

.nav-item{
    font: Open Sans Semi;
    font-size: 13px;
    height: 60px;
}

.container {
    width: 800px;
    height: 1000px;
    margin-top: 30px;
    border-color: lightgrey;
}
.form-block {
    margin
    margin-top: 20px;
    border-color: lightgrey
}



